@font-face {
  font-family: 'Cafe24Oneprettynight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  /* list-style:none; */
}

.scoreboard {
  position: absolute;
  display: block;
  top: 25%;
  right: 20px;
  height: 40vh;
  width: 250px;
  background-color: #88E0EF;
  border: solid 1px #161E54;
}

.scoreboard > p {
  text-align: center;
  font-weight: bold;
  color: #161E54;
  margin-top: 20px;
  font-size: 25px;
  font-family: 'Cafe24Oneprettynight';
}

.container {
  display: grid;
  float: center;
  place-items: center;
  min-height: 100vh;
  background-color: #88E0EF;

}
.buttons2 {

  display: flex;
  place-items: center;
  margin-left: 55px;
}
.buttons2 button {
  background-color: #FF9B6A;
  margin: 0 10px 0 10px;
  border: none;
  border-radius: 5px;
  height: 30px;
  width: 50px;
  color: #161E54;
  font-size: 18px;
  font-family: 'Cafe24Oneprettynight';
  font-weight: bold;

}

#one {
  border-top-left-radius: 5px;
}
#three {
  border-top-right-radius: 5px;
}
#seven {
  border-bottom-left-radius: 5px;
}
#nine {
  border-bottom-right-radius: 5px;
}
.square {
  background:linear-gradient(#FF9B6A, #FF5151);
  border: 1px solid #161E54;
  font-size: 40px;
  font-weight: bold;
  color: #161E54;
  line-height: 80px;
  height: 80px;
  margin: -1px 0 0 -1px;
  padding: -1px -1px -1px -1px;
  text-align: center;
  width: 80px;
  font-family: 'Cafe24Oneprettynight';
}
h2, h5, h4{
  display: block;
  margin: 15px 20px;
  color: #161E54;
  font-family: 'Cafe24Oneprettynight';
  text-align: center;
}


.square .disappear {
  display:None
}

.board-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  place-items: center;

}

.buttons button {
  background-color: #FF9B6A;
  margin: 0 20px 20px 20px;
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 60px;
  color: #161E54;
  font-size: 18px;
  font-family: 'Cafe24Oneprettynight';
  font-weight: bold;

}

.buttons button:hover{
  box-shadow: 5px 5px 5px gray;
}
